.featured {
  padding-top: 162px;
  background-color: $primary-color;

  &__content {
    color: $white-color;

    &-topic {
      margin-bottom: 67px;

      .title {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: weight(dark);
      }

      .desc {
        line-height: 1.5;
        letter-spacing: -0.57px;
      }

      &.help-tips {
        .body {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
          grid-gap: 10px;

          &__item {
            position: relative;

            &-content {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 17px 20px 17px 25px;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                opacity: 0.5;
              }

              .name {
                position: relative;
                z-index: 1;
                font-size: 1rem;
                font-weight: weight(bold);
              }

              .btn-arrow {
                position: relative;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }

  &__imagedecor {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
