.featured {
  padding-top: 162px;
  background-color: $primary-color;

  @include breakpoint-up(tablet) {
    padding-top: 243px;
  }

  &__content {
    color: $white-color;

    @include breakpoint-up(mdDesktop) {
      padding: 0;
    }

    &-topic {
      &:not(:last-child) {
        margin-bottom: 67px;

        @include breakpoint-up(mdDesktop) {
          margin-bottom: 100px;
        }
      }

      .title {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: weight(dark);

        @include breakpoint-up(tablet) {
          font-size: 3rem;
        }
        @include breakpoint-up(tablet) {
          font-size: 2rem;
          text-align: center;
        }
      }

      .desc {
        line-height: 1.5;
        letter-spacing: -0.57px;

        @include breakpoint-up(tablet) {
          font-size: 1.5rem;
        }
        @include breakpoint-up(mdDesktop) {
          max-width: 619px;
          margin: 0 auto;
          font-size: 18px;
          letter-spacing: -0.64px;
          text-align: center;
        }
      }

      &.help-tips {
        @include breakpoint-up(mdDesktop) {
          position: relative;
        }

        .imgdecor {
          display: none;
          @include breakpoint-up(mdDesktop) {
            display: initial;
            position: absolute;
            left: 982px;
          }
        }

        .body {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
          grid-gap: 10px;

          @include breakpoint-up(tablet) {
            grid-gap: 20px;
          }
          @include breakpoint-up(mdDesktop) {
            grid-template-columns: repeat(3, 311px);
            justify-content: center;
          }

          &__item {
            position: relative;

            &-cover {
              width: 100%;
            }

            &-content {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 17px 20px 17px 25px;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                opacity: 0.5;
              }

              .name {
                position: relative;
                z-index: 1;
                margin-right: 16px;
                letter-spacing: -0.57px;
                font-size: 1rem;
                font-weight: weight(bold);

                @include breakpoint-up(tablet) {
                  font-size: 1.25rem;
                }
                @include breakpoint-up(smDesktop) {
                  font-size: 1.125rem;
                }
              }

              .btn-arrow {
                position: relative;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }

  &__imgdecor {
    margin-top: 67px;
    width: 253px;

    @include breakpoint-up(tablet) {
      width: 316px;
    }
    @include breakpoint-up(mdDesktop) {
      width: 244px;
      margin-top: -122px;
    }
  }
}
