.footer {
  background-color: $accent-color;

  .container {
    padding: 24px;
    color: $white-color;

    @include breakpoint-up(tablet) {
      padding: 26px;
    }
  }

  &__copyright {
    font-size: 12px;

    @include breakpoint-up(tablet) {
      font-size: 1rem;
    }

    span {
      font-weight: weight(bold);
    }
  }

  &__version {
    padding: 3px 9px;
    border: 1px solid $white-color;
    border-radius: 9px;
    font-size: 10px;
    font-weight: weight(light);

    @include breakpoint-up(tablet) {
      font-size: 14px;
      padding: 5px 11px;
      border-radius: 11px;
    }
  }
}
