.header {
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: $secondary-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: -15%;
    width: 100%;
    height: 183px;
    border-radius: 0 0 200% 80%;
    background-color: $accent-color;

    @include breakpoint-up(tablet) {
      height: 253px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 42%;
    right: 50%;
    transform: translateX(-100%);
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $accent-color;

    @include breakpoint-up(tablet) {
      left: 14%;
      width: 264px;
      height: 264px;
    }
  }

  &__nav {
    position: relative;
    z-index: 1;
    background-color: $white-color;
    padding: 17px 24px;

    &-logo {
      width: 33px;
      margin-right: 13px;

      @include breakpoint-up(tablet) {
        width: 66px;
      }
      @include breakpoint-up(smDesktop) {
        width: 99px;
        margin-right: 26px;
      }
      @include breakpoint-up(mdDesktop) {
        width: 33px;
      }
      @include breakpoint-up(lgDesktop) {
        width: 66px;
      }
    }

    &-greetings {
      p {
        font-size: 12px;

        @include breakpoint-up(tablet) {
          font-size: 1.125rem;
        }
        @include breakpoint-up(smDesktop) {
          font-size: 1.5rem;
        }
      }

      strong {
        font-weight: weight(bold);

        @include breakpoint-up(tablet) {
          font-size: 1.5rem;
        }
        @include breakpoint-up(smDesktop) {
          font-size: 2rem;
        }
      }
    }
  }

  &__hero {
    flex-grow: 1;

    &-absurd {
      position: absolute;
      width: 110%;
      height: 70%;
      border-radius: 0 0 98%;
      background-color: $primary-color;

      @include breakpoint-up(tablet) {
        height: 76%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -18%;
        left: -10%;
        width: 110%;
        height: 32%;
        background-color: $secondary-color;
        border-radius: 40% 0 0 0;
        transform: rotateZ(-8deg);

        @include breakpoint-up(tablet) {
          transform: rotateZ(-10deg);
        }
      }
    }

    &-content {
      flex-direction: column;
      position: relative;
      z-index: 1;
      height: 100%;
      padding: 57px 24px 20px;

      @include breakpoint-up(smPhone) {
        padding: 67px 24px 20px;
      }
      @include breakpoint-up(smDesktop) {
        padding: 157px 24px 20px;
      }

      &-text {
        color: $white-color;

        .title {
          text-transform: uppercase;
          text-align: center;
          line-height: 0.98;
          font-size: 40px;
          font-weight: weight(dark);
          margin-bottom: 10px;

          @include breakpoint-up(smPhone) {
            font-size: 48px;
            margin-bottom: 20px;
          }
          @include breakpoint-up(mdPhone) {
            font-size: 50px;
          }
          @include breakpoint-up(tablet) {
            font-size: 88px;
          }
          @include breakpoint-up(smDesktop) {
            font-size: 120px;
          }
        }

        .subtitle {
          text-align: center;
          font-size: 0.75rem;
          font-weight: weight(semiBold);
          font-style: italic;

          @include breakpoint-up(smPhone) {
            font-size: 1rem;
          }
          @include breakpoint-up(tablet) {
            font-size: 1.75rem;
          }
          @include breakpoint-up(smDesktop) {
            font-size: 2rem;
          }
        }
      }

      &-button {
        position: relative;
        width: 231px;
        margin: 0 auto;

        img {
          width: 184px;

          @include breakpoint-up(tablet) {
            width: 276px;
          }
          @include breakpoint-up(smDesktop) {
            width: 368px;
          }
        }

        .btn-go {
          position: absolute;
          top: 200px;
          left: 50%;
          transform: translateX(-50%);

          @include breakpoint-up(tablet) {
            width: 346px;
            height: 82px;
            border-radius: 43px;
            top: 300px;
            font-size: 1.5rem;
          }
          @include breakpoint-up(smDesktop) {
            width: 462px;
            height: 106px;
            border-radius: 58px;
            top: 400px;
            font-size: 2rem;
          }

          &:hover {
            top: 320px;
            box-shadow: none;
            background-color: rgba(249, 131, 171, 0.5);

            @include breakpoint-up(smDesktop) {
              top: 420px;
            }
          }
        }
      }
    }
  }
}
