.header {
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: $secondary-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: -15%;
    width: 100%;
    height: 183px;
    border-radius: 0 0 200% 80%;
    background-color: $accent-color;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 42%;
    right: 50%;
    transform: translateX(-100%);
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $accent-color;
  }

  &__nav {
    position: relative;
    z-index: 1;
    background-color: $white-color;
    padding: 17px 24px;

    &-logo {
      margin-right: 13px;
    }

    &-greetings {
      p {
        font-size: 12px;
      }

      strong {
        font-weight: weight(bold);
      }
    }
  }

  &__hero {
    flex-grow: 1;

    &-absurd {
      position: absolute;
      width: 110%;
      height: 70%;
      border-radius: 0 0 98%;
      background-color: $primary-color;

      &::before {
        content: "";
        position: absolute;
        bottom: -18%;
        left: -10%;
        width: 110%;
        height: 32%;
        background-color: $secondary-color;
        border-radius: 40% 0 0 0;
        transform: rotateZ(-8deg);
      }
    }

    &-content {
      flex-direction: column;
      position: relative;
      z-index: 1;
      height: 100%;
      padding: 67px 24px 20px;

      &-text {
        color: $white-color;

        .title {
          text-transform: uppercase;
          text-align: center;
          line-height: 51px;
          font-size: 50px;
          font-weight: weight(dark);
          margin-bottom: 20px;
        }

        .subtitle {
          text-align: center;
          font-size: 1rem;
          font-weight: weight(semiBold);
          font-style: italic;
        }
      }

      &-button {
        position: relative;
        width: 231px;
        margin: 0 auto;

        .btn-go {
          position: absolute;
          top: 200px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
