.testimoni {
  position: relative;
  background-color: $secondary-color;

  &__imgdecor {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;

    &-deff {
      margin: 220px 0;
      text-align: right;

      .desc {
        line-height: 1.5;
        letter-spacing: -0.57px;
        margin-bottom: 20px;
        font-weight: weight(medium);

        span {
          color: $accent-color;
          font-weight: weight(bold);
        }
      }

      .sumber {
        color: $white-color;
        font-weight: weight(semiBold);
        font-style: italic;
      }
    }

    &-circle {
      position: absolute;
      left: 57px;
      bottom: 93px;
    }
  }

  &__carousel {
    position: absolute;
    bottom: -14.75%;
    left: 32px;

    &-title {
      margin-bottom: 30px;
      color: $white-color;
      text-shadow: 0 20px 30px rgba(249, 131, 171, 0.7);
      font-size: 2rem;
      font-weight: weight(dark);
    }

    .item {
      background-color: $white-color;
      width: 247px;
      height: 140px;

      &__container {
        padding: 20px;

        &-title {
          margin-bottom: 20px;
          font-size: 2rem;
          font-weight: weight(dark);
        }

        &-desc {
          font-size: 12px;
          letter-spacing: -0.43px;
        }
      }
    }
  }
}
