// Responsive Web
$breakpoints-up: (
  "smPhone": "360px",
  "mdPhone": "375px",
  "lgPhone": "400px",
  "tablet": "768px",
  "smDesktop": "1024px",
  "mdDesktop": "1280px",
  "lgDesktop": "1400px",
  "xlDesktop": "1600px",
);
$breakpoints-down: (
  "phone": "480px",
  "tablet": "767px",
  "smDesktop": "1023px",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semiBold": 600,
  "bold": 700,
  "dark": 900,
);

@function weight($weight-size) {
  @return map-get($font-weight, $weight-size);
}
